.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Login {
  background-color:  #20bf55;
  background-image:  linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  margin-top:140px ;
  justify-content: center;
padding: 60px 0;
width: 28em;
color: white;
}

.Login form {

margin: 0 auto;
max-width: 320px;
color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
